<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="CurseForgeID" value="83374" />
    <add key="CurseForgeApiKey" value="$2a$10$muWS9XRhaG/5u4cRIqYh2uVYtHNRDvqNsdgUMjQh64AY/cuJw7Pae" />
    <add key="SteamCmdPath" value="C:\Servers\steamcmd" />
    <add key="ASAServerPath" value="C:\Servers\ASA" />
    <add key="WebServerPort" value="5150" />
    <add key="ThirdPartyEdit" value="True" />
    <add key="MobileHideThirdParty" value="True" />
    <add key="AllowServerPasswordAccess" value="False" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>