<?xml version="1.0" encoding="utf-8"?>
<ASAConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <NoBattleEye>true</NoBattleEye>
  <WinLiveMaxPlayers>20</WinLiveMaxPlayers>
  <ForceAllowCaveFlyers>true</ForceAllowCaveFlyers>
  <Mods>
    <int>929800</int>
    <int>927090</int>
    <int>947835</int>
    <int>928621</int>
    <int>931047</int>
    <int>946694</int>
    <int>929299</int>
    <int>941145</int>
    <int>930170</int>
    <int>942008</int>
    <int>933638</int>
    <int>936145</int>
    <int>935297</int>
    <int>940513</int>
    <int>929868</int>
    <int>933447</int>
    <int>931877</int>
    <int>934578</int>
    <int>935528</int>
    <int>941978</int>
    <int>932875</int>
    <int>935410</int>
    <int>933576</int>
    <int>930128</int>
    <int>929347</int>
    <int>935809</int>
  </Mods>
</ASAConfig>